In [176]:
import pandas as pd
import numpy as np
import pypsa

In [177]:
network = pypsa.Network(name='Texas')
network.import_from_netcdf('texas_grid.netcdf')
removed_lines = pd.DataFrame()
reduced_generators = pd.DataFrame()
buses_disconnected = pd.DataFrame()

INFO:pypsa.io:Imported network texas_grid.netcdf has buses, generators, lines

In [181]:
def remove_lines_random(network,n=1):
    global removed_lines
    lines_to_remove = network.lines.sample(n)
    removed_lines = removed_lines.append(lines_to_remove)
    network.mremove("Line",lines_to_remove.index.to_series())
    return network
def reduce_generators_random(network,n=1,reduction_factor=0):
    global reduced_generators
    generators_to_shutdown = network.generators.sample(n)
    network.mremove("Generator",generators_to_shutdown.index.to_series())
    print(network.generators.shape)
    generators_to_shutdown['p_nom'] = generators_to_shutdown['p_nom']*reduction_factor
    network.import_components_from_dataframe(generators_to_shutdown,"Generator")
    generators_to_shutdown['reduction_factor'] = reduction_factor
    reduced_generators = reduced_generators.append(generators_to_shutdown)
    print(network.generators.shape)
    return network
def disconnect_buses_random(network,n=1):
    global removed_lines
    global buses_disconnected
    buses_to_disconnect = network.buses.sample(n)
    buses_disconnected = buses_disconnected.append(buses_to_disconnect)
    buses_to_disconnect = buses_to_disconnect.index.to_series()
    lines = network.lines.copy()
    lines_to_remove = lines[(lines['bus0'].isin(buses_to_disconnect)) | (lines['bus1'].isin(buses_to_disconnect))]
    removed_lines = removed_lines.append(lines_to_remove)
    network.mremove("Line",lines_to_remove.index.to_series())
    return network

In [183]:
print("Removing lines:")
print(network.lines.shape)
remove_lines_random(network)
print(network.lines.shape)
display(removed_lines)

print("Disconnecting buses:")
print(network.lines.shape)
disconnect_buses_random(network)
print(network.lines.shape)
display(removed_lines)
display(buses_disconnected)

print('Reducing Generators')
reduce_generators_random(network)
display(reduced_generators)

Removing lines:
(3197, 46)
(3196, 46)

,name,bus0,bus1,r,x,b,rateA,rateB,rateC,ratio,...,terrain_factor,num_parallel,sub_network,x_pu,r_pu,g_pu,b_pu,x_pu_eff,r_pu_eff,s_nom_opt
name,,,,,,,,,,,,,,,,,,,,,
104021,104021,3008119,3008062,0.01516,0.06756,0.00991,149.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101411,101411,3004113,3004004,0.00456,0.03255,0.05934,443.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101642,101642,3004114,3004113,0.00072,0.01874,0.00000,387.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101643,101643,3004115,3004113,0.00101,0.05405,0.00000,180.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101644,101644,3004116,3004113,0.00162,0.05686,0.00000,180.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101645,101645,3004146,3004113,0.00250,0.02448,0.04711,548.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103158,103158,3007019,3007274,0.00332,0.02368,0.04318,443.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101205,101205,3002132,3002131,0.00583,0.25242,0.00000,24.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103056,103056,3006304,3006298,0.00026,0.01816,0.00000,896.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Disconnecting buses:
(3196, 46)
(3192, 46)

,name,bus0,bus1,r,x,b,rateA,rateB,rateC,ratio,...,terrain_factor,num_parallel,sub_network,x_pu,r_pu,g_pu,b_pu,x_pu_eff,r_pu_eff,s_nom_opt
name,,,,,,,,,,,,,,,,,,,,,
104021,104021,3008119,3008062,0.01516,0.06756,0.00991,149.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101411,101411,3004113,3004004,0.00456,0.03255,0.05934,443.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101642,101642,3004114,3004113,0.00072,0.01874,0.00000,387.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101643,101643,3004115,3004113,0.00101,0.05405,0.00000,180.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101644,101644,3004116,3004113,0.00162,0.05686,0.00000,180.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101645,101645,3004146,3004113,0.00250,0.02448,0.04711,548.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103158,103158,3007019,3007274,0.00332,0.02368,0.04318,443.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
101205,101205,3002132,3002131,0.00583,0.25242,0.00000,24.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103056,103056,3006304,3006298,0.00026,0.01816,0.00000,896.0,0.0,0.0,1.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103350,103350,3007092,3007216,0.00595,0.01454,0.00190,98.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103562,103562,3007216,3007180,0.00437,0.01069,0.00140,98.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103641,103641,3007216,3007382,0.00725,0.03234,0.00474,149.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103642,103642,3007216,3007386,0.00794,0.04769,0.00647,98.0,0.0,0.0,0.0,...,1.0,1.0,,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,y,x,v_nom,v_mag_pu_max,v_mag_pu_min,type,carrier,unit,v_mag_pu_set,control,sub_network
name,,,,,,,,,,,
3004113,27.5667,-99.5089,230.0,1.1,0.9,,AC,None,1.0,PQ,
3002132,33.1227,-99.6504,115.0,1.1,0.9,,AC,None,1.0,PQ,
3007216,29.7715,-95.4111,115.0,1.1,0.9,,AC,None,1.0,PQ,

Reducing Generators
(596, 73)
(597, 73)

,bus,p_nom,Qmax,Qmin,Vg,mBase,p_nom_max,p_nom_min,Pc1,Pc2,...,min_up_time,min_down_time,up_time_before,down_time_before,ramp_limit_up,ramp_limit_down,ramp_limit_start_up,ramp_limit_shut_down,p_nom_opt,reduction_factor
name,,,,,,,,,,,,,,,,,,,,,
13217,3006349,0.0,52.43,-11.43,1.04,123.6,103.0,30.9,0,0,...,0,0,1,0,NaN,NaN,1.0,1.0,0.0,0
14041,3002012,0.0,0.00,0.00,1.00,200.0,163.0,0.0,0,0,...,0,0,1,0,NaN,NaN,1.0,1.0,0.0,0